.fadeOut{
  height: 24em;
  width: 100vw;
  position: absolute !important;
  bottom: -12em;
  left: 0;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(23,23,23,1) 50%, rgba(255,255,255,0) 100%);
}
